header {
  background-color: lightskyblue;
  font-size: x-large;
}
body {
  background-color: lightsteelblue;
}
#delete {
  margin-right: auto;
  text-align: right;
}
label {
}
input[type='checkbox']:checked + label.taskss {
  background-color: mediumspringgreen;
  text-decoration: line-through;
}
th {
  font-size: 30px;
  text-align: left;
}
table {
  font-size: larger;

  width: 80%;
  margin-bottom: 1rem;
  margin: 10px;
}
